@(title:String, message: String)(implicit req: play.api.mvc.RequestHeader)

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.XcbAppController.nextCount
)

@homepage(title) {

    <h1>@message</h1>
    <button id="test" onclick="myFunction('test')">Click me</button>
    <script>
        function myFunction(ele){
            var data = jsRoutes.controllers.XcbAppController.nextCount().ajax({
            success: function(data) {
                alert("User deleted!");
              }
            });
        }
    </script>

}